# Database (Postgres) - uses SQLite if not set
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ifc_viewer

# Storage
STORAGE_LOCAL_BASE_DIR=.data/storage

# Compute
PLAYGROUND_WORKING_DIR=.data/workspace

# API
PORT=3000
